.title{
    width: 400px;
    height: 40px;
    background-color: gray;
    border:1px solid black;
}

.content{
    width: 400px;
    height: 200px;
    border:1px solid black;
    background-color: white;
}

.footer{
    width: 400px;
    height: 40px;
    background-color: gray;
    border:1px solid black;
}